<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'lights')}">
<head>
    <meta charset="UTF-8">
    <title>Lights data</title>
</head>
<body>
<div>
    <h2 th:text="'Lights data'">Lights Index Page</h2>

    <div>
        <a th:href="@{'/sensorsPages/lights/page/'+ ${currentPage} +'/exportPdf'}">Export to PDF</a>
    </div>

        <table id="lights" class="table table-striped">
            <thead>
            <tr>
                <th>
                    <a th:href="@{'/sensorsPages/lights/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">Id</a>
                </th>
                <th>
                    <a th:href="@{'/sensorsPages/lights/page/' + ${currentPage} + '?sortField=lightLevel&sortDir=' + ${reverseSortDir}}">Light level</a>
                </th>
                <th>
                    <a th:href="@{'/sensorsPages/lights/page/' + ${currentPage} + '?sortField=timestamp&sortDir=' + ${reverseSortDir}}">timestamp</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="light : ${lightsList}">
                <td th:text="${light.id}">1</td>
                <td th:text="${light.lightLevel}">1</td>
                <td th:text="${light.timestamp}">2020-11-14 01:26:15</td>
            </tr>
            </tbody>
        </table>

    <div th:if = "${totalPages > 1}">
        <div>
            <div>
                Total Rows: [[${totalItems}]]
            </div>
            <div>
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/sensorsPages/lights/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
            </div>
            <div>
                <a th:if="${currentPage < totalPages}" th:href="@{'/sensorsPages/lights/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>

            <div>
                <a th:if="${currentPage < totalPages}" th:href="@{'/sensorsPages/lights/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>