<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'motion')}">
<head>
    <meta charset="UTF-8">
    <title>Motion data</title>
</head>
<body>
<h2 th:text="'Motion data'">Motion Index Page</h2>

<table id="motion" class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Motion</th>
        <th>timestamp</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="motion : ${motions}">
        <td th:text="${motion.id}">1</td>
        <td th:text="${motion.motion}">1</td>
        <td th:text="${motion.timestamp}">2020-11-14 01:26:15</td>
    </tr>
    </tbody>
</table>

</body>
</html>